.login{
    width: 300px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 10%;
    transform: translate(3px, 60px);
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    opacity:0.6;
    background-image: url("../../../assets/image/Sport_HD.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    
}

ion-button{
    position: absolute;
    top: 70%;
    transform: translate(35px, 0px);
}

ion-item{
    position: absolute;
    top: 50%;
    transform: translate(35px, 0px);
}