<ion-grid>
  <ion-row *ngFor="let count of dataList">
    <ion-col>
      <ion-card>
        <img src="../../../assets/image/cricket.webp"/>
        <ion-card-content>
          <ion-card-title>
            </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <img src="../../../assets/image/cricket.webp"/>
        <ion-card-content>
          <ion-card-title>
            </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
